footer{
    background-color: orange;
}

.pricing{
    background-color: greenyellow;
}

.top{
    background-color: orange;
}

.MasterAS-FitnessSign-up{
    background-color: crimson;
}

.Our-Team{
    background-color: darkslategray;
}